/* For ACE editor */
@font-face{
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.ace_content * {
  font-family: 'JetBrains Mono';
}